.i{
    display: flex;
    height: 100vh;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-left-wrapper{
    padding: 20px 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 50px;
}
/* .i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
    animation: move 4s ease-in-out infinite alternate;
} */
.i-title{
    overflow: hidden;
    width: fit-content;
    
}
.i-title .text{
    font-size: 30px;
    font-weight: 600;
    position: relative;
}
.text.sec-text, .text.sec-textDark{
    color: rgb(10, 215, 10);
}
 .text.sec-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color:rgb(255, 255, 255) ;
    border-left: 2px solid rgb(140, 125, 125);
    animation: animate 7s steps(12) infinite;
}
.text.sec-textDark::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color:#222 ;
    border-left: 2px solid rgb(140, 125, 125);
    animation: animate 7s steps(12) infinite;
}
@keyframes animate {

    50% , 60%{
        left: calc(100% + 4px)
    }
    100%{
        left: 0%;
    }

    
}
@keyframes move {
    33%{
        transform: translateY(-50px);
    }
    66%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-150px);
    }
    
}
/* .i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(10, 215, 10);
    display: flex;
    align-items: center;
} */

.i-img{
    width: 120%;
    height: auto ;
    object-fit: contain;
    position: absolute;
    margin-top: -50px;
}
.i-bg{
    clip-path: polygon(100% 0%, 100% 54%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color:  rgb(10, 215, 10);;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
}

@media screen and (max-width: 480px){
    .i{
        flex-direction: column;
    }
    .i-left-wrapper{
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
    }

    .i-desc{
        display: none;
    }
    .i-title .text{
        font-size: 20px;
        font-weight: normal;
    }
    .i-title{
        width: 100%;
        text-align: start;
    }
    .i-title .text.first-text{
        font-size: 16px;
    }
}