.c{
    height: 100vh;
    position: relative;
}

.c-bg{
    height: 100%;
    width: 20px;
    background-color: rgb(10, 215, 10);
    position: absolute;
}

.c-wrapper{
    padding: 50px 50px 10px 50px;
    display: flex;
    /* border: 1px solid; */
}
.c-left{
    flex: 1;
}
.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c-title{
    width: 80%;
    font-size: 60px;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 300;
}

form{
    margin-top: 20px;
}
input{
    width: 45%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 5px;
    padding-left: 10px;
    font-size: 14px;
}
input:focus{
    outline: none;
}
textarea{
    width: 100%;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
    resize: none;
}

button{
  border: none;   
  padding: 10px 15px;
  background-color: rgb(10, 215, 10);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
}
.thanks{
    font-size: 25px;
    margin-left: 20px;
}
.centerdiv{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
}
.social{
    width: 100%;
    font-size: 25px;
    text-align: center;
}
.i-link{
    text-decoration: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:beige;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 4px 2px rgb(144, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-link i {
    font-size: 30px;
    transition: all 0.2s linear;
}
.i-link:hover i{
    transform: scale(1.3);
}
.fa-instagram{
    color: rgb(225, 14, 162);
}
.fa-github{
    color: rgb(21, 18, 18);
}
.fa-linkedin-in{
    color: rgb(15, 38, 168);
}
@media screen and (max-width: 480px) {
 
    .c{
        /* height: 120vh; */
    }
    .c-wrapper{
        flex-direction: column;
        padding: 0px 50px;
    }
    .c-title{
        font-size: 32px;
    }
    .c-info-item{
        margin: 15px 0px;
        width: 100%;
        font-size: 15px;
    }
    .c-desc{
        font-size: 15px;
        margin-bottom: 0px;
    }

    form{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    input{
        width: 40%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }
    button{
        margin-top: 10px;

    }
    .social{
        font-size: 20px;
    }
    .i-link{
        height: 50px;
        width: 50px;
        border-radius: 50%;
       
    }
    .i-link i {
        font-size: 25px;
    }
    .i-link:hover i{
        transform: none;
    }
    
}

@media screen and (max-height: 780px) {

     .c{
        height: 110vh;
    } 
}